@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33 33 104);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* #root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.Container {
  width: 90vw;
  height: 100%;
  padding-top: 3rem;
  border-top: 1px solid #fff;
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

button {
  width: 70%;
  padding: 1rem;
  padding-left: 3rem;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  text-align: left;
  outline: none;
  background-color: #fffeff;
  color: #1f2324;
  transition: all 1s;
}
button:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .Container {
    width: 100vw;
    height: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .question {
    width: 90%;
    margin-top: 2rem;
  }

  .answer {
    width: 100%;
    margin-bottom: 2rem;
  }
  button {
    width: 90%;
    text-align: center;
    padding: 1rem;
  }
}
